# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Prototype - Copy.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\malav\Prototype - Copy\.idea\.idea.Prototype - Copy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
